    <footer>
        <section>
            <img src="/images/Unifil.png" alt="Unifil Logo">
            <div class="container">
                <p>Unifil - Witor Tenã.</p>
                <p id="date"></p>
            </div>
        </section>
    </footer>
    <script>
        const date = document.getElementById("date")
        const today = new Date().getFullYear()
        date.innerHTML = today
    </script>