<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Portfolio Unifil Witor Tenã</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <section>
        <div class="container">
            <h1>Bem vindo ao Portfolio do NPI</h1>
        </div>
        <div class="container">
            <p>Aqui serão disponibilizados os projetos feitos por mim: Witor Tenã ao longo dos meus estudos na Unifil.</p>
            <p>O objetivo desse portfólio é mostrar os projetos que fiz durante o curso de Ciencia da Computação.</p>
            <p>Assim como disponibilizar acesso aos recursos relacionados aos mesmos.</p>
            
            <!-- Relatórios -->
            <h2>Relatórios:</h2>
            <p>Os relatórios são a documentação detalhada do progresso no curso, abrangendo as extensões e projetos dos quais participei. Eles servem como um registro organizado para consulta futura e análise do aprendizado adquirido.</p>
            <div class="wrap-container">
                <a href="/pensamento-computacional">
                <button class="call-to-action-button">
                    Relatórios Pensamento Computacional
                </button>
                </a>
                <a href="/NPI">
                    <button class="call-to-action-button">
                        Relatórios NPI
                    </button>
                </a>
            </div>
            <!-- Recursos -->
            <h2>Recursos:</h2>
            <p>Os recursos são materiais complementares que podem ser úteis para o aprendizado e desenvolvimento de habilidades. Eles incluem links, vídeos, tutoriais e outros conteúdos relevantes.</p>
            <a href="/#">
                <button class="inactive-button">
                    Ferramentas e Recursos - (Pendente)
                </button>
            </a>

            <!-- Sobre -->
            <h2>Meus projetos e desenvolvimento:</h2>
            <p>Essa seção é uma breve apresentação sobre mim, incluindo minha formação, interesses e objetivos profissionais. É uma oportunidade de compartilhar um pouco mais sobre quem sou e o que busco na área de tecnologia. Assim como exibir alguns dos projetos desenvolvidos ao longo da minha participação no NPI.</p>
            <a href="/aboutMe">
                <button class="call-to-action-button">
                    Sobre Mim
                </button>
            </a>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>