<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Portfolio Unifil Witor Tenã</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <section>
        <div class="container">
            <h1>Bem vindo ao Portfolio do NPI</h1>
        </div>
        <div class="container">
            <p>Aqui serão disponibilizados os projetos feitos por mim: Witor Tenã ao longo dos meus estudos na Unifil.</p>
            <p>O objetivo desse portfólio é mostrar os projetos que fiz durante o curso de Ciencia da Computação.</p>
            <p>Assim como disponibilizar acesso aos recursos relacionados aos mesmos.</p>
            <a href="/reportsList">
                <button class="call-to-action-button">
                    Relatórios Pensamento Computacional
                </button>
            </a>
            <a href="/aboutMe">
                <button class="call-to-action-button">
                    Projetos e Recursos
                </button>
            </a>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>