<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pensamento Computacional</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/js/renderPensamentoComputacionalReports.js" defer></script>
    <link rel="stylesheet" href="/css/reports.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <section>
        <div class="container">
        <h1>Pensamento Computacional</h1>
        <p>Os relatórios do <b>Pensamento Computacional</b> são uma forma de documentar os dias da minha extensão de monitoramento dos alunos que vão até a Unifil a fim de assistir as aulas de Pensamento Computacional.</p>
        <p>Esses relatórios são uma forma de registrar o que foi aprendido e as atividades realizadas durante o curso, além de servir como um guia para futuras referências.</p>
        <br>
        <p>Os relatórios são divididos em semanas, cada uma com suas próprias atividades e aprendizados. Abaixo estão os cards para cada um dos relatórios:</p>

        </div>
    </section>
    <section class="text-wrapper">
            <h2>Relatórios - Pensamento Computacional:</h2>
    </section>
    <section>
        <div id="reportContainer">
            <!-- JS displays reports here -->
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>