<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pensamento Computacional</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/js/index.js" defer></script>
    <link rel="stylesheet" href="/css/reports.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <section>
        <h1>Pensamento Computacional</h1>
    </section>
    <section class="text-wrapper">
            <h2>Relatórios de Pensamento Computacional:</h2>
    </section>
    <section>
        <div id="reportContainer">
            <!-- JS displays reports here -->
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>