@import url("colors.css");

#navigation {
  background: var(--color-dark-gray);
}
#navigation a {
    text-decoration: none;
}
.time {
  padding: 1rem 2rem;
}
@media (min-width: 1028px) {
  footer section, footer .text-wrapper, footer .wrap-container .time {
    margin: 0 auto;
    max-width: 65%;
  }
}