@import url('colors.css');

#reportContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.report {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}
.report .padded-container:first-of-type {
    border-bottom: 1px solid var(--color-black);
}
.report img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}
.image-container {
    max-height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;;
}
.report h1, .report h2, .report h3, .report h4, .report h5, .report p {
    color: var(--color-black);
}
.report a {
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    text-decoration: none;
}
.report:hover {
    background: var(--color-hover-gray);
}