@import url('colors.css');

#reportDisplay * {
    color: var(--color-black);
    list-style: disc;
}
#reportDisplay p code, #reportDisplay code{
    color: white;
}
#reportDisplay p {
    margin: 1rem 0;
}
.padded-container code {
    color: white;
}
#imageDisplay {
    overflow: hidden;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}
img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}