@import url('colors.css');

#reportContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.report {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
}
.report img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border: 1px solid var(--color-black);
}
.report h1, .report h2, .report h3, .report h4, .report h5, .report p {
    color: var(--color-black);
}
.report a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-black);
    text-decoration: none;
}
.report:hover {
    background: var(--color-hover-gray);
}